
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Биография</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Видеография</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Дискография</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">СМИ</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Интервью</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Фотографии</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Книги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Общение</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/ii.svg" alt="">
								</div>
								<div class="button-title">Генерация фотографии с&nbsp;Михаилом Кругом</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="actions-inner-wrap">
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn">
						<div class="button-title">Записаться на экскурсию</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="support-inner-wrap">
				<div class="support-title">Сайт разработан при поддержке: </div>
				<div class="support-list">
					<ul class="menu">
						<li>
							<a href="" class="btn-support">
								<div class="button-title">Ольги Круг, сестры Михаила Круга</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-support">
								<div class="button-title">Игоря Бобика, разработка сайта</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-support">
								<div class="button-title">Олега Чемисова, спонсорство проекта</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-support">
								<div class="button-title">Инары, помощь с контентом </div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap">2025 © Все права защищены.</div>
				<div class="info-wrap">Разработано <a href="">Вебуспех</a></div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
</footer>
<!-- /footer -->