
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu button-active-close js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="bibliography.html" class="btn-menu">
								<div class="button-title">Биография</div>
							</a>
						</li>
						<li>
							<a href="video.html" class="btn-menu">
								<div class="button-title">Видеография</div>
							</a>
						</li>
						<li>
							<a href="discography.html" class="btn-menu">
								<div class="button-title">Дискография</div>
							</a>
						</li>
						<li>
							<a href="smi.html" class="btn-menu">
								<div class="button-title">СМИ</div>
							</a>
						</li>
						<li>
							<a href="interview.html" class="btn-menu">
								<div class="button-title">Интервью</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Фотографии</div>
							</a>
						</li>
						<li>
							<a href="books.html" class="btn-menu">
								<div class="button-title">Книги</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Общение</div>
							</a>
						</li>
						<li>
							<a href="contacts.html" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="info-wrap">
					<a href="" class="btn-info">
						<div class="button-ico">
							<img src="./img/icons/ii.svg" alt="">
						</div>
						<div class="button-title">Генерация фотографии с&nbsp;Михаилом Кругом</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->