<!--invite-box-->
<div class="invite-box">
	<div class="bg-full-wrap"></div>
	<div class="box-inner-wrap">
		<div class="title-inner-wrap">
			<div class="page-subtitle">Приглашаем вас на экскурсию</div>
			<h2 class="h1-title section-title">Тверь Михаила Круга</h2>
			<div class="action-wrap">
				<a href="" class="btn">
					<div class="button-title">Оставьте заявку </div>
				</a>
			</div>
		</div>
		<div class="photo-inner-wrap">
			<div class="elm-photo">
				<img src="./img/bottom-photo.png" alt="">
			</div>
		</div>
	</div>
</div>
<!--/invite-box-->