<div class="popup-outer-box" id="popup-order01">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Оставьте заявку <br> на&nbsp;участие в&nbsp;фестивале</div>
			<p>заполните форму, и мы свяжемся с&nbsp;вами в&nbsp;ближайшее время</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<input type="text" placeholder="Ваше имя" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<input type="tel" placeholder="Ваш телефон" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<input type="email" placeholder="Ваш email" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<div class="frm-select">
							<input type="checkbox" id="popup01">
							<label for="popup01">Даю согласие на обработку <a href="">персональных данных</a></label>
						</div>
					</div>
					<div class="frm-field">
						<button type="submit" class="btn button-border">Принять участие</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->
<div class="popup-outer-box" id="popup-order02">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Оставьте заявку  <br>на участие в экскурсии</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<input type="text" placeholder="Ваше имя" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<input type="tel" placeholder="Ваш телефон" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<input type="text" placeholder="Кол-во человек" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input field-datepicker">
							<input type="text" placeholder="Выберите желаемую дату" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<div class="frm-select">
							<input type="checkbox" id="popup02">
							<label for="popup02">Даю согласие на обработку <a href="">персональных данных</a></label>
						</div>
					</div>
					<div class="frm-field">
						<button type="submit" class="btn button-border">Принять участие</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->